
# variable "access_key" { 
#    default = "xxxxxxxxxxxx"
# }

# variable "secret_key" { 
#    default = "xxxxxxxxxxxx"
# }


# variable "region" {
#    default = "us-east-2"
# }

# provider "aws"{
#     access_key = "${var.access_key}"   
#     aws_secret_key = "${var.secret_key}"
#     region = "${var.region}"
# }


# variable "PATH_TO_PRIVATE_KEY" {
#  default = "mykey"
# }

# variable "PATH_TO_PUBLIC_KEY" {
#  default = "mykey.pub"
# }



# variable "AMIS" {
#  default = {
#    us-east-1 = "ami-13be557e"
#  }
# }

